/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.hero{
    width:100%;
    min-height: 100vh;

}
.container{
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.article{
    float: left;
    width: 45%;
    padding-right: 25px;
}
.image-section{
    float: right;
    width: 55%;
    
    
}
.img-section img{
    width: 100%;
    height: auto;
}
.article .title h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
}
.article .content h3{
    margin-top: 30px;
    color: #137d7d;
    font-size: 22px;
    font-weight: 500;
}
.article .content p{
    margin-top: 10px;
    font-size: 19px;
    line-height: 1.5;
    color: #4e4f4f;
}
.article .content .button{
    margin-top: 4a5px;
}
.article .content .button a{
    background-color: #f19a0e;
    padding:10px 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}
.article .content .button a:hover{
    background-color: #000;
    transition: 0.5s ease;
}
@media screen and (max-width:768px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .article{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .img-section{
        float: none;
        width: 100%;
        margin:50px;
    }
    .article .title h1{
        font-size: 30px;
    }
    .article .content .button{
        text-align: center;
        padding: 9px 16px;
    }
} */





/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.hero{
    width:100%;
    min-height: 100vh;

}
.container{
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.article{
    float: left;
    width: 45%;
    padding-right: 25px;
}
.image-section{
    float: right;
    width: 55%;
    border-radius: 20px;
    
    
}
.img-section img{
    width: 100%;
    height: auto;
    /* border-radius: 15px; */
}
.article .title h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
}
.article .content h3{
    margin-top: 30px;
    color: #137d7d;
    font-size: 22px;
    font-weight: 500;
}
.article .content p{
    margin-top: 10px;
    font-size: 19px;
    line-height: 1.5;
    color: #4e4f4f;
}
.article .content .button{
    margin-top: 4a5px;
}
.article .content .button a{
    background-color: #f19a0e;
    padding:10px 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}
.article .content .button a:hover{
    background-color: #000;
    transition: 0.5s ease;
}
@media screen and (max-width:768px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .article{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .img-section{
        float: none;
        width: 100%;
        margin:50px;
    }
    .article .title h1{
        font-size: 30px;
    }
    .article .content .button{
        text-align: center;
        padding: 9px 16px;
    }
}